.homePage {
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, right bottom, from(#17279a), to(#22bdd0));
    background: linear-gradient(to bottom right, #17279a, #22bdd0);
    text-align: center;
}

.homePage select,
.homePage input {
    width: 80%;
    font-size: 2rem;
    padding: 0.8rem;
    margin-top: 1.6rem;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid;
}

.homePage label {
    color: white;
    position: absolute;
    left: 10%;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.homePage button {
    border-radius: 30px;
    padding: 2rem 1rem;
    background-color: #efefef;
    width: 80%;
    margin: 0% 10%;
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: lighter;
    outline: none;
    left: 0;
    margin-bottom: 2rem
}

.footer {
    color: white;
    position: absolute;
    height: 3rem;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

.pageName {
    text-align: left;
    font-size: 2rem;
    color: white;
    padding: 2em 0rem 1rem 3.5rem
}