<ion-content>
    <ion-icon (click)="goBack()" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    <div class="assessmentPage">
        <div class="plantName">
            {{selectedPlant.plant_name}}
        </div>
        <div class="plantAddress">
            {{selectedPlant.plant_address}}
        </div>
        <div class="assessmentTag" *ngIf="assessmentList[0]">
            Select Project
        </div>
        <select [(ngModel)]="assessment_id" *ngIf="assessmentList[0]">
            <option *ngFor="let item of assessmentList" value="{{item.id}}">{{item.assessment_name}}</option>
        </select>
        <br>
        <div class="assessmentTag2" *ngIf="!assessmentList[0]">
            <i>No existing projects</i>
        </div>
        <div class="midOr" *ngIf="assessmentList[0]">
            or
        </div>
        <div class="createNewButton">
            <button (click)="createNewAssessment()">Create new</button>
        </div>
        <button (click)="newAssessmentsPage(assessment_id)">Continue</button>
    </div>
</ion-content>