<ion-content>
    <ion-icon (click)="goBack()" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    <div class="newAssessmentPage">
        <div class="plantName">
            {{selectedPlant.plant_name}}
        </div>
        <div class="plantAddress">
            {{selectedPlant.plant_address}}
        </div>

        <div class="newAssButtons">
            <button (click)="presentActionSheet()">Select File</button>
        </div>
        <div class="capturedImage">
            <img src="{{pathForImage(lastImage)}}" style="width:100%" [hidden]="lastImage === null">
            <!-- <img [src]="base64Image" *ngIf="base64Image" /> {{selectedFile}} -->
        </div>
        <label>File name</label><br>
        <input [(ngModel)]="fileName" type="text"><br>

        <label>Category</label><br>
        <select [(ngModel)]="category" (change)="getSubcategories(category)">
            <option *ngFor="let item of folderStructure; let i = index" value="{{i}}">{{item.categoryName}}</option>
        </select><br>

        <label *ngIf="folderSubCategory[0]">Sub-category 1</label><br *ngIf="folderSubCategory[0]">
        <select [(ngModel)]="subCategory" *ngIf="folderSubCategory[0]" (change)="getSubcategoriesSub(subCategory)">
            <option *ngFor="let item of folderSubCategory; let j = index" value="{{j}}">{{item.name}}</option>
        </select><br *ngIf="folderSubCategory[0]">

        <label *ngIf="folderSubCategorySub[0]">Sub-category 2 </label><br *ngIf="folderSubCategorySub[0]">
        <select [(ngModel)]="subCategory1" *ngIf="folderSubCategorySub[0]">
            <option *ngFor="let item of folderSubCategorySub" value="{{item}}">{{item}}</option>
        </select><br *ngIf="folderSubCategorySub[0]">
        <label>Description</label><br>
        <input [(ngModel)]="description" type="text">
        <br>
        <div (click)="uploadData()" class="newAssessmentSubmit">
            <button>Upload</button>
        </div>
    </div>
</ion-content>