@font-face {
    font-family: geInspiraRegular;
    src: url('fonts/GEInspiraSans-Regular.ttf?#iefix'), url('fonts/GEInspiraSans-Regular.otf?#iefix');
}

@font-face {
    font-family: geInspiraBold;
    src: url('fonts/GEInspiraSans-Bold.ttf'), url('fonts/GEInspiraSans-Bold.otf');
}

@font-face {
    font-family: geInspiraBoldItalic;
    src: url('fonts/GEInspiraSans-BoldItalic.ttf'), url('fonts/GEInspiraSans-BoldItalic.otf');
}

@font-face {
    font-family: geInspiraItalic;
    src: url('fonts/GEInspiraSans-Italic.ttf'), url('fonts/GEInspiraSans-Italic.otf');
}

body {
    font-family: geInspiraRegular
}

.projectName {
    padding: 0.5rem 10%;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: left
}

.userName {
    float: right;
    color: white;
    font-size: 1.7rem;
    padding: 2rem;
}