.plantTag {
    font-size: 2.5rem;
    color: white;
    font-weight: lighter;
    padding: 6rem 0rem 1rem 0rem;
    text-align: center;
}

.plantsPage {
    height: 100vh;
    background: -webkit-gradient(linear, left top, right bottom, from(#17279a), to(#22bdd0));
    background: linear-gradient(to bottom right, #17279a, #22bdd0);
    text-align: center;
}

.plantsPage button {
    border-radius: 30px;
    padding: 2rem 1rem;
    background-color: #efefef;
    width: 80%;
    margin: 0% 10%;
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: lighter;
    outline: none;
    position: absolute;
    bottom: 5rem;
    left: 0;
}

.plantsPage select {
    width: 80%;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 0rem;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid;
}

.appName {
    color: white;
    font-size: 2.5rem;
    padding: 3rem 3rem 0rem 3rem
}